body {
    background-color: #1C1C1C;
    color: white;
    font-family: 'Courier New';
    padding: 20px;
    }

.title {
    font-size: 48px;
    color: #00FF00;
}

.list-item {
    margin-bottom: 20px;
    font-size: 24px;

}

input {
    height: 30px;
    font-size: 20px;
    font-family: 'Courier New';
    background-color: transparent;
    color: white;
    border-color: #00FF00;
    border-radius: 5px;
    padding: 8px;
}

.add-task-button {
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    background-color: #32CD32;
    border-width: 0px;
    color: white;
    font-family: 'Courier New';
    font-weight: bold;

}